/* body {
    background-color: aquamarine;
} */

.img-Tim{
    width: 300px;
    height: 200px;
}

.fig-caption-styling{
    font-size: small;
}

.yellow{
    background-color: yellow;
}

.ul-styling {
    padding-left: 10px;
}