/* body {
    background-color: aquamarine;
} */

.img-Tim{
    width: 300px;
    height: 200px;
}

.fig-caption-styling{
    font-size: small;
}

.yellow{
    background-color: yellow;
}

.ul-styling {
    padding-left: 10px;
}

.table-head-bg {
    background-color: rgb(65, 154, 244);
    font-size: small;
    color: white;
    text-align: left;
}

.table-row-bgcolor{
    background-color: rgb(127, 217, 255);
}

.table-column-size {
    width: 25%;
}